<h1>All the Products</h1>

<% @products.each do |p| %>
<p>
  <strong>Product Name : </strong> <br>
  <%= p.name %> <br>
  <strong>Product Description : </strong> <br>

  <%= p.description %> <br>
  <strong>Product Price(in cents) : </strong> <br>

  <%= p.price_in_cents %> <br>
</p>
<% end %>
