<h2> Product Details</h2>

<p>
  <strong>Product Name : </strong> <br>
  <%= @product.name %>
</p>
<p>
  <strong>Product Description : </strong> <br>
  <%= @product.description %>
</p>
<p>
  <strong>Product Price : </strong> <br>
  <%= @product.price_in_cents %>
</p>
